<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">


    <title>Bronka</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bronka</a>
</nav>

<br>

<div class="modal fade" id="closeVisitModalId" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="closeVisitModalLabelId">End Visit?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p  id="closeVisitTextId">Cancel Visit?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="closeVisitButtonId">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="feedbackModalId" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabelId">Cancel Visit?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form style="width: 80%!important;">
                    <div class="form-group">
                        <p  id="feedbackModalTextId">Leave Feedback?</p>
                    </div>
                    <div class="form-group">
                        <label for="commentId" class="col-form-label">Comment:</label>
                        <textarea class="form-control" id="commentId"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="feedbackButtonId">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 id="titleId" style="text-align: center; margin-top: 3%">My Visits</h1>
    <br>
    <form id="regFormId" class="center" style="width: 80%!important;"></form>
</div>

<script src="./js/jquery-3.4.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/cabinet.js"></script>


</body>
</html>